.width-100 {
  width: 100%;
}

.center-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}

.space-around {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  text-wrap: wrap;
}

.italic {
  font-style: italic;
}

.column {
  flex-direction: column;
}

.gap-10 {
  gap: 10px;
}

.top-10 {
  margin-top: 10px;
}

.top--10 {
  margin-top: -10px;
}

.tran {
  transition: all 0.4s;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.shrink-1 {
  flex-shrink: 1;
}

.relative {
  position: relative;
}

.material-symbols-outlined {
  cursor: pointer;
  user-select: none;
}

.rem-3 {
  font-size: 3rem;
}

.width-100 {
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  color-scheme: dark;
}